// Mediaqueries
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-largeScreen: 1824px;

@import 'preset';

main {
    display: grid;
    justify-content: center;
}

h1 {
    font-size: 2em;
}

#circleContainer {
    width: 95vw;
    border: 2px solid white;

    #qCircle{
        width:30vw;
        height: 30vw;
        float: left;
        margin-left:10%;
        background-color: lightgreen;
        border-radius: 50%;
        border: 5px solid white;

        #qNumb{
            font-size: 3em;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #serveCircle{
        width:30vw;
        height: 30vw;
        float: left;
        margin-left: 20%;
        background-color:lightgreen;
        border-radius: 50%;
        border: 5px solid white;

        #serveNumb{
            font-size: 3em;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#qSection {
    background-color: rgb(198, 194, 233);
    border: 2px solid black;
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-desktop) {    
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-largeScreen) {
        grid-template-columns: 1fr 1fr;

    }

    #qContainer {
        margin-top: 5vw;
        width: 95vw;
        height: auto;
        // margin-left: 7vw;
        background-color: lightcyan;
        padding: 5px;
        box-shadow: 5px 5px;
 
        @media (min-width: $breakpoint-tablet) {
            float:left;
            width:45vw;
            margin-left: 1vw;
            
            table{
                width:45vw;
            }
        }
        @media (min-width: $breakpoint-desktop) {    
            table{
                width:45vw;
            }
        }
        @media (min-width: $breakpoint-largeScreen) {
            table{
                width:45vw;
            }
        }
    }

    #serveContainer {
        margin-top: 5vw;
        width: 95vw;
        height: 10vh;
        // margin-left: 7vw;
        background-color: lightcyan;
        padding: 5px;
        box-shadow: 5px 5px;
    
        @media (min-width: $breakpoint-tablet) {
            float: left;
            width:45vw;
            margin-left: 1vw;
            height: auto;

            table{
                width:45vw;
            }
        }
        @media (min-width: $breakpoint-desktop) {    
            table{
                width:45vw;
            }        }
        @media (min-width: $breakpoint-largeScreen) {
            table{
                width:45vw;
            }        
        }
    }

}


// tabel
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width:95vw;
}

th, td {
    padding: 5px;
}


#order{
    background-color: white;
}




#beerContainer{
    border: 2px solid blue;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;



    #tempContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #tapTemp{
        border: 2px solid red;
        width: 50vw;
    }
    
    #beerName{
        font-size: 3vw;
    }
    
    
}





