// Mediaqueries
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-largeScreen: 1824px;

@import 'preset';

#barinfo, #manageinfo{
    
        margin-top: 2vw;
        display: inline-block;
        margin-left: 10%;
        width: 30vw;
        height: 6vh;
        background-color: midnightblue;

        a{
            text-decoration: none;
            display: flex;
            justify-content: center;
            font-size: 5vw;
            margin-top: 2vw;
            color: white;
        }

        @media (min-width: $breakpoint-tablet) {
            margin-top: 2vw;
            display: inline-block;
            margin-left: 20%;
            width: 23vw;
            height: 8vh;
            background-color: red;
        
            a{
                text-decoration: none;
                display: flex;
                justify-content: center;
                font-size: 2em;
                margin-top: 1vw;
            }
        }
}

main {
    display: grid;
    justify-content: center;
}

#title{
    font-size: 3em;
}

h1 {
    font-size: 2em;
}

#circleContainer {
    width: 95vw;
    border: 2px solid white;

    #qCircle{
        width:30vw;
        height: 30vw;
        float: left;
        margin-left:10%;
        background-color: lightgreen;
        border-radius: 50%;
        border: 5px solid white;

        #qNumb{
            font-size: 3em;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #serveCircle{
        width:30vw;
        height: 30vw;
        float: left;
        margin-left: 20%;
        background-color:lightgreen;
        border-radius: 50%;
        border: 5px solid white;

        #serveNumb{
            font-size: 3em;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#qSection {
    background-color: rgb(198, 194, 233);
    border: 2px solid black;
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5vw;
    grid-gap: 15px;

    @media (min-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-desktop) {    
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-largeScreen) {
        grid-template-columns: 1fr 1fr;

    }

    #headings h4{
        display: inline-block;
    }

    #qContainer {
        margin-top: 5vw;
        width: 90vw;
        height: auto;
        // margin-left: 7vw;
        background-color: lightcyan;
        padding: 5px;
        box-shadow: 5px 5px;
        padding-bottom: 5vw;

        @media (min-width: $breakpoint-tablet) {
            float:left;
            width:45vw;
            margin-left: 1vw;
            
            #order{
                width: 40vw;
            }
        }
        @media (min-width: $breakpoint-desktop) {    
            #order{
                width: 40vw;
            }
        }
        @media (min-width: $breakpoint-largeScreen) {
            #order{
                width: 40vw;
            }
        }
    }

    #serveContainer {
        margin-top: 5vw;
        width: 90vw;
        // margin-left: 7vw;
        background-color: lightcyan;
        padding: 5px;
        box-shadow: 5px 5px;
        padding-bottom: 5vw;


        @media (min-width: $breakpoint-tablet) {
            float: left;
            width:45vw;
            // margin-left: 1vw;
            height: auto;

            #serveOrder{
                width: 40vw;
            }
        }
        @media (min-width: $breakpoint-desktop) {    
            #serveOrder{
                width: 40vw;
            }      
        }
        @media (min-width: $breakpoint-largeScreen) {
            #serveOrder{
                width: 40vw;
            }     
        }
    }
}


// tabel
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

// table{
//     width:95vw;
// }

th, td {
    padding: 5px;
    width: 5vw;
}

#tableRow {
    width:30vw;
}

#order{
    width:40vw;
    margin-left: 5%;
}

#serveOrder{
    width: 40vw;
    margin-left: 5%;
}


// Beer types
#beerContainer{
    border: 5px solid darkmagenta;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    @media (min-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: $breakpoint-desktop) {    
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: $breakpoint-largeScreen) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #beerBox{
        border: 2px solid cyan;
        background-color: white;
        margin-bottom: 2vw;
        display: grid;
        justify-content: center;
        width: 45vw;

        #beerName{
            font-size: 3vw;
        }
        
        img{
            width: 25vw;
        }
    
        button{
            width:30vw;
            height: 4vh;
            margin-bottom: 2vw;
            color:white;
            background-color: orange;
            margin-left: 10%;
    
            &:hover {
                color:orange;
                background-color: white;
                transition: 0.3s;
            }
        }


        @media (min-width: $breakpoint-tablet) {
            display: grid;
            justify-content: center;
            width: 20vw;
            
            #beerName{
                font-size: 2vw;
            }

            img{
                width: 20vw;
            }

            button{
                width:15vw;
            }
        }
        @media (min-width: $breakpoint-desktop) {
            width: 20vw;
        }
        @media (min-width: $breakpoint-largeScreen) {
            width: 20vw;
        }
        
    }
    
}

#modalContainer{
    width: 80vw;
    border: 2px solid black;
    background-color: rgba(31, 30, 30, 0.815);
    color: white;
    visibility: hidden;

    #modalBox{
        width: 70vw;
        border: 4px solid red;
    }    

    #close{
        background-color: rgb(34, 216, 34);
        width: 15vw;
        height: 5vh;
    }
}




